class Jiradozer < Formula
  desc "Issue-driven development workflow"
  homepage "https://github.com/bazelment/yoloswe"
  version "{{.Version}}"

  on_macos do
    on_arm do
      url "https://github.com/bazelment/yoloswe/releases/download/v{{.Version}}/jiradozer-v{{.Version}}-darwin-arm64.tar.gz"
      sha256 "{{.DarwinArm64SHA256}}"
    end
    on_intel do
      url "https://github.com/bazelment/yoloswe/releases/download/v{{.Version}}/jiradozer-v{{.Version}}-darwin-amd64.tar.gz"
      sha256 "{{.DarwinAmd64SHA256}}"
    end
  end

  on_linux do
    on_arm do
      url "https://github.com/bazelment/yoloswe/releases/download/v{{.Version}}/jiradozer-v{{.Version}}-linux-arm64.tar.gz"
      sha256 "{{.LinuxArm64SHA256}}"
    end
    on_intel do
      url "https://github.com/bazelment/yoloswe/releases/download/v{{.Version}}/jiradozer-v{{.Version}}-linux-amd64.tar.gz"
      sha256 "{{.LinuxAmd64SHA256}}"
    end
  end

  def install
    bin.install "jiradozer"
  end

  test do
    assert_match "Issue-driven development workflow", shell_output("#{bin}/jiradozer --help")
  end
end
